[buildout]
# Directives to customize zc.buildout’s directories
bin-directory = bin
develop-eggs-directory = lib/buildout/develop-eggs
eggs-directory = lib/buildout/eggs
installed = lib/buildout/.installed.cfg
parts-directory = lib/buildout/parts
develop = .
find-links = https://github.com/schinckel/django-bootstrap/tarball/master#egg=django-bootstrap-2.2.2.2
unzip = true
parts =
    python
    django
    charge
    patch-django-money
    checkversions
    cleanup
extensions =
#    buildout.dumppickedversions
    buildout-versions
eggs = charge
versions = versions

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

## Site Configurations
[django]
# https://github.com/rvanlaar/djangorecipe
recipe = djangorecipe
project = charge
projectegg = charge
settings = settings
eggs =
    ${buildout:eggs}
    ${charge:eggs}
    ipython               # advanced interactive Python shell
    django_extensions     # shell_plus
    django-debug-toolbar  # cool debugging

[charge]
recipe = zc.recipe.egg
eggs =
    django-bootstrap
    django-money
    django-registration
    django-rosetta

[patch-django-money]
recipe = collective.recipe.patch
egg = django-money==0.3.2
patches = patches/django-money-widgets.patch

[checkversions]
# bin/checkversions -v buildout.cfg
recipe=zc.recipe.egg
eggs=z3c.checkversions [buildout]

[cleanup]
recipe = iw.recipe.cmd
on_install = true
on_update = true
cmds = find ${buildout:directory} -name '*.py[co]' -delete

[versions]
buildout-versions = 1.7
collective.recipe.patch = 0.2.2
django = 1.4.3
djangorecipe = 1.3
django-bootstrap = 2.2.2.2
django-debug-toolbar = 0.9.4
django-extensions = 1.0.2
django-money = 0.3.2
django-registration = 0.8
django-rosetta = 0.6.8
ipython = 0.13.1
iw.recipe.cmd = 0.3
py = 1.4.12
py-moneyed = 0.4.1
pytest = 2.3.4
setuptools = 0.6c11
z3c.checkversions = 0.4.1

# Required by:
# djangorecipe==1.3
zc.buildout = 1.6.3

# Required by:
# djangorecipe==1.3
zc.recipe.egg = 2.0.0a3
