{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% blocktrans with object_name=object.name %}
Delete {{ object_name }}
{% endblocktrans %}
{% endblock %}

{% block main %}
  <p>{% blocktrans with object_name=object.name %}
  Are you sure that you would like to delete {{ object_name }}?
  {% endblocktrans %}</p>
  <form method="POST" action="">
    <button type="submit" class="btn btn-danger">{% trans "Yes" %}</button>
    <a href="{{ object.get_absolute_url }}">{% trans "No" %}</a>
    {% csrf_token %}
  </form>
{% endblock %}