{% extends 'registration/registration_base.html' %}

{% block title %}Login{% endblock %}

{% block extrabodyattr %} class="shaded"{% endblock %}

{% block main %}
<div class="form-short">
  <h2 class="form-short-heading">Login</h2>
  <form action="" method="post" >
    {{ form }}
    <input type="hidden" name="next" value="{{ next }}" />
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-large">Login</button>
  </form>
  <p><a href="{% url registration_register %}">Need an account?</a></p>
</div>
{% endblock %}